body{
  background-color: black;
  }

  #main{
  background-color: #e3e3e3;
  height: 16.5%;
  width:100%;
}
/* for main block */

.navbar-header{
  height: 100px;
  text-align: right;
}
/* for header */

.navbar-brand {
float: left;
  padding: 15px 15px;
  display: inline-block;
}
/* for logo */

#jumbot{

    position: relative;
    background: #000 url("/images/Logo.png") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}
/*for jumbotron*/

#courses{
  font-size: 25px;
  font-family: sans-serif;
}
/* for dropdown*/


/* footer options */
footer{
  background:#333;
  color: #eee;
  font-size: 11px;
  padding: 20px;
}
